.custom-button {
  background-color: var(--black);
  color: white;
  padding: 0.6rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;

}

.custom-button:hover {
  background-color: var(--butter-yellow);
}

@media screen and (max-width: 700px) {
  :root {
    font-size: 1rem;
  }
}