.user-card {
  background-color: var(--mint-pale);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px var(--shadow-color);
  text-align: center;
  margin: 1rem auto;
  max-width: 400px;
}

.user-card .username,
.user-card .description,
.user-card .technologies {
  font-size: 1.7rem;
  background-color: var(--butter-yellow);
  padding: 2.75rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

