.content-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 1rem;
  margin-right: 0%;
}

.content-text {
  width: 50%;
  max-width: 600px;
  margin: 0;
  font-weight: 800;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


.highlight {
  color: var(--dark-pink);
  font-size: 2.5rem;
}

@media screen and (max-width: 700px) {
  .my-heading {
      display: block;
    }
  .content-main {
    flex-direction: column;
    margin: 1rem

  }
  .content-text {
  width: 90%;
  min-width: 50%;
  margin: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  }

}
